
body {
    background-color: black;
    color: white;
    /*background: #000 url(hoth-battle-collage.jpg) no-repeat;*/
    /*background-size: cover;*/
}

.bg {
    width: 100%;
}

.margin-top {
    margin-top: 6em;
}

.categories {
    margin: 0 auto;
    max-width: 250px;

    column-count: 2;
    padding-left: 0;
}

.categories li {
    padding: 2px;
    list-style: none;
    border: 2px solid white;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 2em;
    transition: all 2s;
    /*position: absolute;*/
}

.categories li:nth-of-type(1) {
    position: absolute;
    right: 21px;
    top: 129px;
    height: 130px;
    width: 69px;
}
.categories li:nth-of-type(2) {
    position: absolute;
    left: 151px;
    top: 159px;
    height: 30px;
    width: 60px;
}
.categories li:nth-of-type(3) {
    position: absolute;
    left: 21px;
    top: 42px;
    height: 51px;
    width: 114px;
}
.categories li:nth-of-type(4) {
    position: absolute;
    right: 22px;
    top: 39px;
    height: 89px;
    width: 61px;
}
.categories li:nth-of-type(5) {
    position: absolute;
    top: 182px;
    height: 70px;
    width: 60px;
    left: 41px;
}
.categories li:nth-of-type(6) {
    position: absolute;
    right: 118px;
    top: 125px;
    height: 35px;
    width: 186px;
}

.categories li:hover {
    background: yellow;
    font-color: black;
}


.yellow_text {
    color: yellow;
}

.flex_results {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
}

/*.flex_results * {*/
    /*border: 1px solid red;*/
/*}*/

/*.flex_results div:nth-of-type(1) {*/
     /*color: white;*/
/*}*/

/*.flex_results div:nth-of-type(2) {*/
    /*color: yellow;*/
/*}*/

.hidden_element {
    visibility: hidden;
}


.push_column_right {
    clear: left;
    margin-left: 25%;
    position: relative;
    top: -2em;
}

.flex_col_justify_top {
    vertical-align: top;
}

.display_none {
    display: none;
}

.display_none::after {
    clear: both;
}


.r_row {
    height: 1.5em;
    flex-grow: 1;
}

.r_row div,
.f_row div {
    float: left;
    overflow: hidden;
    padding: 3px 1.8%;
}

.r_row div:nth-of-type(1),
.f_row div:nth-of-type(1) {
    color: white;
    width: 25%;
}
.r_row div:nth-of-type(2),
.f_row div:nth-of-type(2) {
    color: yellow;
    width: 75%;
}

/*.r_row div,*/
/*.f_row div {*/

    /*width: 25%;*/
/*}*/

.r_row .push_column_right:last-of-type {
    top-margin: -2em;
}

.dimmed_results {
    opacity: 0.15;
}

.spinner {
    position: absolute;
    top: 20%;
    left: calc(50% - 30px);
}


