/** {*/
    /*border: 1px solid red;*/
/*}*/


/*Colors Hex*/

/*rgb 4,134,226*/
/*rgba(4, 134, 226, 1)*/

/*#1d3c7c*/

/*Layout details*/

/*.margin-top is 6em height*/

/*.marin-top contents = 20px height*/

/*flex results 2em top margin*/

/*results_inner_wrapper 18px for top padding and border*/




/*6em*/
/*20px*/
/*2em*/
/*2em*/

/*18px*/



a,
a:focus,
a:hover,
a:active {
    color: hsla(325, 51%, 57%, 1);
    font-weight: bold;
}




@font-face {
    font-family: "Distant Galaxy";
    src: url(../fonts/DISTGRG_.ttf) format("truetype");
    font-size: 1.2em;
}

.navbar {
    background: black;
}

.sw_title {
    font-family: "Distant Galaxy", sans-serif;
    color: yellow;
}

.sw_subtitle {
    color: white;
    font-family: 'Permanent Marker', cursive;
}


body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

.subtitle,
.title {
    text-align: center;
 }

.subtitle {
    font-size: 12px;
}
.bg {
    width: 100%;
    height: 217px;
}

.black {
    background: black;
    opacity: 0.25;
    height: 217px;
    position: absolute;
    top: 0;
    left: 0;
}

.margin-top {
    margin-top: 6em;
    /*display: flex;*/
    /*!* flex-grow: 1; *!*/
    /*flex-direction: column;*/
    /*flex-shrink: 1;*/
}

.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    height: 380px;
    width: 306px;
    border: 4px solid hsla(205, 54%, 55%, 0.55);
    border-radius: 1em;
    background: hsla(209, 69%, 30%, .75);
    margin-top: 10px;
    margin-left: -8px;
}
.categories div {
    margin: 5px;
    border: 2px solid hsla(205, 54%, 55%, 0.55);
    border-radius: 1em;
    display: inherit;
}


.categories * li {
    padding: 5px;
    list-style: none;
    text-align: center;
    margin: 5px;
    /*transition: transform 0.25s;*/
    height: 100px;
    background: hsla(189, 59%, 79%, .4);
    border: 4px solid hsla(205, 54%, 55%, 0.55);
    width: 125px;
    float: left;
    user-select: none;
}

.category_img {
    margin: 0 auto;
    height: 74%;
    opacity: 0.9;
}

#categoryChoice {
    text-align: center;
    margin: 2em;
}

#category_text {
    width: 35%;
    margin: 0 auto;
}
.text_overlay {
    text-align: center;
    font-family: "Distant Galaxy", sans-serif;
    font-size: 19px;
    color: hsla(48, 89%, 82%, 1);
    /*opacity: 0;*/
    /*transition: opacity 0.5s;*/


}

.text_overlay_wrapper {
    margin: 0 !important;
    border: 0 !important;
    position: relative;
    top: 3px;
}

.bg_underlay {
    position: relative;
    top: -103px;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

/*.categories li:hover img {*/
    /*opacity: 0.2;*/
/*}*/

/*.categories li:hover .text_overlay_wrapper {*/
    /*transform: scale(1.5);*/
/*}*/

/*.categories li:hover * .text_overlay {*/
    /*opacity: 1;*/
/*}*/

.cat-text {
    text-align: center;
}

form {
    width: 90%;
    margin: 0 auto;
}

.yellow_text {
    color: yellow;
}

.white_text {
    color: white;
}

.blue_text {
    color: rgba(4, 134, 226, 1);
}

.flex_results {
    margin: 2em auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*text-align: left;*/
    margin-bottom: 0;
    border: 4px solid #4c96ca;
    background: hsla(189, 59%, 79%, .4);
    border-radius: 2em;
    padding: 10px 5px;
}

.results_hdr {
    color: white;
    border: 4px solid #4c96ca;
    background: hsla(189, 59%, 79%, .4);
    margin: 2px 12px 6px 12px;
    padding: 2px 5px;
    border-radius: 1em;

}


.results_inner_wrapper {
    border: 4px solid #4c96ca;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*text-align: left;*/
    padding: 0px 1em 1em 1em;
    border-radius: 1em;
    /*background: url('../img/computer_bg_lrg.jpg');*/

}

.hidden_element {
    visibility: hidden;
}


.left-padding {
    padding-left: 20px !important;
}

.justify-center {
    text-align: center !important;
}

.left-half {
    padding-left: 50%;
}

.push_column_right {
    clear: left;
    margin-left: 35%;
    position: relative;
    top: -2em;
}

.flex_col_justify_top {
    vertical-align: top;
}

.top_padding {
    padding-top: 5px !important;

}

.display_none {
    display: none;
}


.r_row {
    /*line-height: 1.5em;*/
    /*!*flex-grow: 1;*!*/
    /*display: inline;*/

}

.category_name div {
    color: white;
    padding-left: 0;
}

.category_name div:nth-of-type(2) {
    color: yellow;
}


.r_row div,
.f_row div {
    /*float: left;*/
    /*overflow: hidden;*/
    padding: 3px 1.8%;
}


.r_row div:nth-of-type(1),
.f_row div:nth-of-type(1) {
    /*color: yellow;*/
    /*float: left;*/
    /*color: rgba(4, 134, 226, 1);*/
    /*width: 35%;*/
    /*display: inline;*/
}
.r_row div:nth-of-type(2),
.f_row div:nth-of-type(2) {
    /*color: yellow;*/
    /*float: left;*/
    /*color: #0e98fb;*/
    /*width: 65%;*/
}


.r_row .push_column_right:last-of-type {
    /*margin-top: -2em;*/
}

.med-line-height {
    line-height: 1.5em;
}


.dimmed_results {
    opacity: 0.1;
}

.trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*width: 100px;*/
    height: 0;
    border: 50px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 33px solid hsla(189, 59%, 79%, .4);
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
}

#hdr_name {
    margin-bottom: 10px;
}

#item_name {
    color: yellow;
    /*border: 4px solid #4c96ca;*/
    /*background: hsla(189, 59%, 79%, .4);*/
    /*margin: 2px 12px 6px 12px;*/
    /*padding: 2px 5px;*/
    /*border-radius: 1em;*/
    text-align: center;
}

.long_title,
.medium_title {
    padding: 3px 0;
}

.long_title {
    font-size: 12px;
}

.medium_title {
    font-size: 14px;
}

#item_name h4 {
    margin: 2px;
}


.result_top,
.result_middle {
    border: 4px solid #518070;
    border-radius: 1em;
    margin-bottom: 5px;
}

.result_top h5,
.result_middle h5{
    color: white;
    font-size: 12px;
    text-align: center;
    border: 2px solid hsla(189, 59%, 79%, .3);
    border-radius: 1em;
    margin: 5px 30px;

}

.result_top div,
.result_middle div {
    text-align: center;
}

.result_bottom div {
    text-align: center;
    font-size: 12px;
}

.left_justify div {
    text-align: left;
    padding: 0 5px;
}

.crew span {
    color: white;
}

.crew span:nth-of-type(2) {
    color: yellow;
}


.spinner {
    position: absolute;
    top: 25%;
    left: calc(50% - 75px);
    width: 150px;
}

.spinner img {
    width: 100%;
}

.clear {
    clear: both;
}

#redirection_notice {
    line-height: 1em;
}

.no_results {
    margin-top: 10px;
    font-style: italic;
}

.no_results + div {
    margin-top: 10px;
}


/*first bg image*/
/*margin-top : 6em*/
/*results text : 20px*/
/*flex result margin top 2em*/
/*flex result border top 4px*/
/*hdr 40px total*/
/*flex result padding 10px top 10px bottom*/




/*.marin-top contents = 20px height*/

/*flex results 2em top margin + 10px padding + 4px border*/

/*hdr 32px*/




/*results_inner_wrapper 18px for top padding and border*/

.bg_result_underlay {
    position: absolute;
    z-index: -1;
    width: 93%;
    opacity: 0.1;
    margin-left: 2px;
    border-radius: 1em;
    height: 0;
    top: calc(6em + 20px + 2em + 4px + 40px + 10px);
}

.debug {
    position: absolute;
    top: 10px;
    right: 15%;
    color: red;
    z-index: 9999;
    font-family: monospace;
    font-size: 12px;
    border: 1px dotted red;
    background: black;
}

/*.bg result underlay height (297.59)*/


/*4 px +  1em for bottom padding and bottom margin*/
/*.flex results  has margin 2em height*/
/*hdr has height 44px*/
/*result_inner_wrapper 4px* + 1em



/*flex results 2em top margin*/
/*flex_result 10px padding*/
/*flex result 4px border*/


/*results_inner_wrapper 18px for top padding and border*/

/*.flex_results .bg_result_underlay:not(nth-of-type(1)) {*/
    /*opacity : 1;*/
    /*top: calc(6em + 20px + 2em + 40px + 18px + 344px + 4px + 2em + 10px + 40px);*/

    /*!*margin-top: 6em*!*/
    /*!*margin-top contents 20px;*!*/
    /*!*flex results top margin 2em*!*/
   /*!*results_inner_wrapper 18px*!*/
    /*!*height of previous background: 297.59px*!*/
    /*!*flex-results 14px bottom*!*/
    /*!*flex-results top margin 2em*!*/
    /*!*results hdr 40px;*!*/

/*}*/



/*iphone 5 LS*/

@media only screen and (min-width: 568px) and (orientation: landscape) {

    .categories {
        flex-direction: row;
        height: 100%;
        width: 455px;
        margin: 0 auto;

    }

    .bg_result_underlay {
        width: 96%;
    }

    .left-padding {
        padding-left: 10px;
    }

    .long_title {
        font-size: 18px;
    }

    .medium_title {
        font-size: 18px;
    }

    .crew {
        padding-left: 30px !important;
    }

    .result_top div {
        padding-left: 30px !important;
    }


}

/*iPhone 6 Portrait*/

@media only screen and (min-width: 375px) and (orientation: portrait)
{

    .categories {
        margin: 0 auto;
    }

    .flex_results {
        width: 95%;
        margin: 2em auto;
    }

    .bg_result_underlay {
        width: 89%;
    }

}

/*iPhone 6 LS*/

@media only screen and (min-width: 375px) and (orientation: landscape)
{


    .bg_result_underlay {
        width: 97%;
    }

}

/*iPhone 6+ P */


@media only screen and (min-width: 414px) and (orientation:portrait) {
    .crew {
        padding-left: 30px !important;
    }

    .vehicle_area div,
    .species_area div,
    .planet_area div {
        padding-left: 15px !important;
    }
}

/*Unknown*/

@media only screen and (min-width: 735px) and (orientation: portrait)
{
    body {
        font-size: 16px;
    }

    h4 {
        font-size: 26px;
    }
    .categories {
        margin: 0 auto;
        width: 450px;
    }

    .categories li {
        width: 197px;
    }

    form {
        width: 65%;
    }

    .bg_result_underlay {
        width: 92%;
    }

    .crew {
    padding-left: 30px !important;
    }

    .result_top div {
    padding-left: 30px !important;
    }
}

/*iPad LS */

@media only screen and (min-width: 768px) and (orientation: landscape)
{
    .margin-top {
        margin-top: 7em;
    }

    .result_line {
        padding-left: 50px;
    }

    .bg_result_underlay {
        width: 98%;
        top: calc(7em + 20px + 2em + 4px + 40px + 10px);
    }
}

@media only screen and (min-width: 769px) {



    .text_overlay {
        font-size: 13px;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .text_overlay_wrapper {
        top: -57px;
        transition: all 0.5s;
    }

    .category_img {
        height: 100%;
    }

    .categories * li {
        transition: transform 0.25s;
    }


    .categories li:hover .text_overlay_wrapper {
        transform: scale(1.5);
    }

    .categories li:hover * .text_overlay {
        opacity: 1;
    }

    .category_img {
        opacity: 1;
        transition: opacity .5s;
    }

    .bg_result_underlay {
        width: 99%;
        max-width: 782px;
    }
}







