    <div class="results_inner_wrapper">
        <div class="f_row">
            <div>
                Title
            </div>
            <div>
                Star Wars Episode {{ r.episode_id}} : {{ r.title }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Director:
            </div>
            <div>
                {{ r.director }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Producers:
            </div>
            <div>
                {{ r.producer }}
            </div>
        </div>
        <div class="f_row">
            <div>
                Opening Crawl:
            </div>
            <div>
                {{ r.opening_crawl }}
            </div>
        </div>
        <div class="r_row film_row_top">
            <div class="flex_col_justify_top">
                Characters:
            </div>
        </div>
        <div class="flex_col_justify_top left-padding"  ng-repeat="c in characters[$index]">
            <a ng-click="callUrl(c.name, c.url)">{{ c.name }}</a>
        </div>
        <div class="r_row film_row_top">
            <div class="flex_col_justify_top">
                Planets:
            </div>
        </div>
        <div class="left-padding" ng-repeat="p in planets[$index]">
            <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
        </div>
        <div class="r_row film_row_top" >
            <div class="flex_col_justify_top">
                Species:
            </div>
        </div>
        <div class="left-padding" ng-repeat="s in species[$index]">
            <a ng-click="callUrl(s.name, s.url)">{{ s.name }}</a>
        </div>
        <div class="r_row film_row_top">
            <div class="flex_col_justify_top">
                Starships:
            </div>
        </div>
        <div class="left-padding" ng-repeat="st in starships[$index]">
            <a ng-click="callUrl(st.name, st.url)">{{ st.name }}</a>
        </div>
        <div class="r_row film_row_top">
            <div class="flex_col_justify_top">
                Vehicles:
            </div>
        </div>
        <div class="left-padding" ng-repeat="v in vehicles[$index]">
            <a ng-click="callUrl(st.name, st.url)">{{ v.name }}</a>
        </div>
        <div class="r_row">
            <div>
                Released:
            </div>
            <div>
                {{ convertToLocalDate(r.release_date) }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Created:
            </div>
            <div>
                {{ convertToLocal(r.created) }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Edited:
            </div>
            <div>
                {{ convertToLocal(r.edited) }}
            </div>
        </div>
    </div>
