<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<spinner name="loadSpinner" class="spinner" show="loading" img-src="img/Loading-GIF-Image-10.gif"></spinner>
<div class="flex_results blue_text ng-cloak" ng-repeat="r in results" ng-class="{ dimmed_results: loading }">
    <span class="results_hdr">Result {{ $index + 1 }} of {{ results.length }}</span>
    <div class="f_row">
        <div>
            Title
        </div>
        <div>
            Star Wars Episode {{ r.episode_id}} : {{ r.title }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Director:
        </div>
        <div>
            {{ r.director }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Producers:
        </div>
        <div>
            {{ r.producer }}
        </div>
    </div>
    <br class="clear" ng-show="r.producer.length > 26"/>
    <div class="f_row">
        <div>
            Opening Crawl:
        </div>
        <div>
            {{ r.opening_crawl }}
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="c in characters[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Characters:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(c.name, c.url)">{{ c.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="p in planets[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Planets:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="s in species[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Species:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(s.name, s.url)">{{ s.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="st in starships[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Starships:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(st.name, st.url)">{{ st.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="v in vehicles[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Vehicles:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(v.name, v.url)">{{ v.name }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Released:
        </div>
        <div>
            {{ r.release_date }}
        </div>
    </div>

    <div class="r_row move_up">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(r.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Edited:
        </div>
        <div>
            {{ convertToLocal(r.edited) }}
        </div>
    </div>
</div>