    <div class="results_inner_wrapper">
        <div id="hdr_name" class="r_row">
            <div class="trapezoid">
                <h4 id="item_name" ng-class="r.title.length > 23 ? 'long_title' : 'medium_title'">{{ r.title }}</h4>
            </div>
        </div>
        <div class="result_top">
            <h5>Details:</h5>
            <div class="r_row left_justify">
                <div class="col-xs-12 crew">
                    <span>Directed by </span> <span>{{ r.director }}</span>
                </div>
            </div>
            <div class="r_row left_justify">
                <div class="col-xs-12 crew">
                    <span>Produced by </span><span>{{ r.producer }}</span>
                </div>
            </div>
            <div class="r_row left_justify">
                <div class="col-xs-12 crew">
                    <span>Released on </span> <span>{{ convertToLocalDate(r.release_date) }}</span>
                </div>
            </div>
        </div>
        <div class="result_middle">
            <h5>Story:</h5>
            <div class="f_row">
                <div class="white_text">
                    Opening Crawl:
                </div>
                <div class="yellow_text">
                    "{{ r.opening_crawl }}"
                </div>
            </div>
        </div>
        <div class="result_middle">
            <h5>Featured:</h5>

            <div class="r_row film_row_top">
                <div class=" justify-center white_text">
                    Characters:
                </div>
            </div>
            <div class=" justify-center"  ng-repeat="c in characters[$index]">
                <a ng-click="callUrl(c.name, c.url)">{{ c.name }}</a>
            </div>

            <div class="r_row film_row_top" >
                <div class=" justify-center white_text top_padding">
                    Planets:
                </div>
            </div>
            <div class="justify-center" ng-repeat="p in planets[$index]">
                <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
            </div>

            <div class="justify-center" >
                <div class=" justify-center white_text top_padding">
                    Species:
                </div>
            </div>
            <div class="justify-center " ng-repeat="s in species[$index]">
                <a ng-click="callUrl(s.name, s.url)">{{ s.name }}</a>
            </div>

            <div class="r_row film_row_top">
                <div class=" justify-center white_text top_padding">
                    Starships:
                </div>
            </div>
            <div class="justify-center" ng-repeat="st in starships[$index]">
                <a ng-click="callUrl(st.name, st.url)">{{ st.name }}</a>
            </div>

            <div class="r_row film_row_top">
                <div class=" justify-center white_text top_padding">
                    Vehicles:
                </div>
            </div>
            <div class="justify-center" ng-repeat="v in vehicles[$index]">
                <a ng-click="callUrl(st.name, st.url)">{{ v.name }}</a>
            </div>
        </div>
        <div class="result_bottom">
            <div class="system_note">
                <div>
                    Created:
                </div>
                <div>
                    {{ convertToLocal(r.created) }}
                </div>
            </div>
            <div class="system_note">
                <div>
                    Edited:
                </div>
                <div>
                    {{ convertToLocal(r.edited) }}
                </div>
            </div>
        </div>
    </div>
