
    <div class="col-xs-12">
        <span class="indent">
            <h4 class="title">Welcome to the <br> <span class="sw_title">Star Wars</span> <span class="sw_subtitle">WIKI</span></h4>
            <h5 class="animated fadeIn subtitle"><i>powered by the Star Wars API</i></h5>
        </span>
        <div class="cat-text">
        <span id="categoryChoice">
            <span id="category_text">Select a category</span>
        </div>
        <ul class="categories">
            <div ng-repeat="category in categories">
                <!--<div>-->
                    <li ng-click="categoryChoice($event)" id="{{category}}" ng-mouseenter="highlightCategory($event)" ng-mouseleave="leaveCategory($event)">
                        <img ng-src="img/{{ category }}.svg" class="img-responsive category_img" alt="{{category}} picture">
                        <div class="text_overlay_wrapper">
                          <span class="text_overlay">{{ category }}</span>
                        </div>
                        <img class="bg_underlay" src="img/computer_bg.jpg" />
                    </li>
                <!--</div>-->
            </div>
        </ul>

        <!--<span id="totalResults"></span>-->
    </div>
