
    <div class="col-xs-12">
        <span class="indent">
            <h4>Welcome to the Star Wars WIKI</h4>
        </span>
        <br>
        <ul class="categories">
            <li ng-repeat="category in categories" ng-click="categoryChoice($event)" id="{{category}}" ng-mouseenter="highlightCategory($event)" ng-mouseleave="leaveCategory($event)">
                <img src="img/{{category}}.svg"  class="img-responsive category_img" alt="{{category}} picture">
            </li>

        </ul>
        <div class="cat-text">
        <span id="categoryChoice">
            <h4 id="category_text">Select a category</h4></span>
        </div>
    </div>
