    <div class="results_inner_wrapper">
        <div class="r_row">
            <div>
                Name:
            </div>
            <div>
                {{ r.name }}
            </div>
        </div>
        <div class="r_row"  ng-show="checkValue(r.eye_color)">
            <div>
                Eye Color:
            </div>
            <div>
                {{ r.eye_color }}
            </div>
        </div>
        <div class="r_row"  ng-show="checkValue(r.hair_color)">
            <div>
                Hair Color:
            </div>
            <div>
                {{ r.hair_color }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Sex:
            </div>
            <div>
                {{ r.gender }}
            </div>
        </div>
        <div class="r_row" ng-repeat="s in species[$index]">
            <div class="flex_col_justify_top">
                Species:
            </div>
            <div>
                <a ng-click="callUrl(s.name, s.url)">{{ s.name }}</a>
            </div>
        </div>
        <div class="r_row">
            <div>
                Height:
            </div>
            <div>
                {{ r.height }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(homeworlds[$index].name)">
            <div>
                Homeworld:
            </div>
            <div>
                <a ng-click="callUrl(homeworlds[$index].name, homeworlds[$index].url)"> {{ homeworlds[$index].name }}</a>
            </div>
        </div>

        <div class="r_row" ng-show="checkValue(r.mass)">
            <div>
                Mass:
            </div>
            <div>
                {{ convertWeight(r.mass) }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Skin Color:
            </div>
            <div>
                {{ r.skin_color }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.birth_year)">
            <div>
                DOB:
            </div>
            <div>
                {{ r.birth_year }}
            </div>
        </div>
        <div class="r_row" >
            <div class="flex_col_justify_top">
                Films:
            </div>
        </div>
        <div class="left-padding" ng-repeat="f in films[$index]">
            <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
        </div>
        <div class="r_row move_up">
            <div>
                Created:
            </div>
            <div>
                {{ convertToLocal(r.created) }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Edited:
            </div>
            <div>
                {{ convertToLocal(r.edited) }}
            </div>
        </div>
    </div>
