<div class="results_inner_wrapper">
        <div id="hdr_name" class="r_row">
            <div class="trapezoid">
                <h4 id="item_name" ng-class="r.name.length > 23 ? 'long_title' : 'medium_title'">{{ r.name }}</h4>
            </div>
        </div>
        <div class="result_top yellow_text">
            <h5>Biology</h5>
            <div class="r_row">
                <div class="col-xs-6">
                    {{ r.eye_color }} eyes
                </div>
                <div class="col-xs-6" ng-show="checkValue(r.hair_color)">
                    {{ r.hair_color }} hair
                </div>
            </div>
            <div class="r_row">
                <div class="col-xs-6">
                    {{ r.gender }}
                </div>
                <div class="col-xs-6" ng-repeat="s in species[$index]">
                    <a ng-click="callUrl(s.name, s.url)">{{ s.name }}</a>
                </div>
            </div>
            <div class="r_row" ng-show="checkValue(r.height)">
                <div class="col-xs-6">
                    {{ convertHeight(r.height) }}
                </div>
                <div class="col-xs-6" ng-show="checkValue(r.weight)">
                    {{ convertWeight(r.mass) }}
                </div>
            </div>
            <div class="r_row">
                <div class="col-xs-6">
                    {{ r.skin_color }} skin
                </div>
                <div class="col-xs-6" ng-show="checkValue(r.birth_year)">
                    Born {{ r.birth_year }}
                </div>
            </div>
        </div>
        <div class="result_middle">
            <h5>Origins</h5>
            <div class="category_name" ng-show="checkValue(homeworlds[$index].name)">
                <div class="col-xs-6">
                    Homeworld:
                </div>
                <div class="col-xs-6">
                    <a ng-click="callUrl(homeworlds[$index].name, homeworlds[$index].url)"> {{ homeworlds[$index].name }}</a>
                </div>
            </div>
            <div class="category_name" >
                <div class="flex_col_justify_top">
                    Films:
                </div>
            </div>
            <div class="med-line-height" ng-repeat="f in films[$index]" >
                <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
            </div>
        </div>
        <div class="result_bottom">
            <div class="category_name">
                <div>
                    Created:
                </div>
                <div>
                    {{ convertToLocal(r.created) }}
                </div>
            </div>
            <div class="category_name">
                <div>
                    Edited:
                </div>
                <div>
                    {{ convertToLocal(r.edited) }}
                </div>
            </div>
        </div>
    </div>
