<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<div class="flex_results" ng-repeat="obj in core_results">Result {{ $index + 1 }} of {{ core_results_length }}
    <div class="r_row">
        <div>
            Name
        </div>
        <div>
            {{ obj.name }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Eye Color:
        </div>
        <div>
            {{ obj.eye_color }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Sex:
        </div>
        <div>
            {{ obj.gender }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Hair Color:
        </div>
        <div>
            {{ obj.hair_color }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Height:
        </div>
        <div>
            {{ obj.height }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Homeworld:
        </div>
        <div>
            <a ng-click="callUrl()"> {{ homeworlds[$index] }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Mass:
        </div>
        <div>
            {{ convertWeight(obj.mass) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Skin Color:
        </div>
        <div>
            {{ obj.skin_color }}
        </div>
    </div>
    <div class="r_row">
        <div>
            DOB:
        </div>
        <div>
            {{ obj.birth_year }}
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="f in films[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Films:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(f.url)">{{ f.title }}</a>
        </div>
    </div>
    <div class="r_row move_up">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(obj.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Last Edited:
        </div>
        <div>
            {{ convertToLocal(obj.edited) }}
        </div>
    </div>
</div>


