<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<div class="flex_results" ng-repeat="r in results">Result {{ $index + 1 }} of {{ results.length }}
    <div class="r_row">
        <div>
            Name:
        </div>
        <div>
            {{ r.name }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Diameter:
        </div>
        <div>
            {{ r.diameter }} km
        </div>
    </div>
    <div class="r_row">
        <div>
            Day Length:
        </div>
        <div>
            {{ r.rotation_period }} hrs
        </div>
    </div>
    <div class="r_row">
        <div>
            Orbital Period:
        </div>
        <div>
            {{ r.orbital_period }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Gravity:
        </div>
        <div>
            {{ r.gravity }} Gs
        </div>
    </div>
    <div class="r_row">
        <div>
            Population:
        </div>
        <div>
            {{ r.population }} avg.
        </div>
    </div>
    <div class="r_row">
        <div>
            Climate:
        </div>
        <div>
            {{ r.climate }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Terrain:
        </div>
        <div>
            {{ r.terrain }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Surface Water:
        </div>
        <div>
            {{ r.surface_water }}% of planet's surface
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="p in people[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Residents
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(p.url)">{{ p.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="f in films[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Films:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(f.url)">{{ f.title }}</a>
        </div>
    </div>
    <div class="r_row move_up">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(r.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Last Edited:
        </div>
        <div>
            {{ convertToLocal(r.edited) }}
        </div>
    </div>
</div>