    <div class="results_inner_wrapper">
        <div id="hdr_name" class="r_row">
            <div class="trapezoid">
                <h4 id="item_name" ng-class="r.name.length > 23 ? 'long_title' : 'medium_title'">{{ r.name }}</h4>
            </div>
        </div>
        <!--<div class="r_row">-->
            <!--<div>-->
                <!--Name:-->
            <!--</div>-->
            <!--<div>-->
                <!--{{ r.name }}-->
            <!--</div>-->
        <!--</div>-->
        <div class="result_top yellow_text left_justify">
            <h5>Biology</h5>
            <div class="category_name" ng-show="checkValue(r.eye_colors)">
                <div class="col-xs-6">
                    Eye Colors:
                </div>
                <div class="col-xs-6">
                    {{ r.eye_colors }}
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.hair_colors)">
                <div class="col-xs-6">
                    Hair Colors:
                </div>
                <div class="col-xs-6">
                    {{ r.hair_colors }}
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.skin_colors)">
                <div class="col-xs-6">
                    Skin Colors:
                </div>
                <div class="col-xs-6">
                    {{ r.skin_colors }}
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.classification)">
                <div class="col-xs-6">
                    Classification:
                </div>
                <div class="col-xs-6">
                    {{ r.classification }}
                </div>
            </div>
            <div class="category_name">
                <div class="col-xs-6">
                    Designation:
                </div>
                <div class="col-xs-6">
                    {{ r.designation }}
                </div>
            </div>
            <div class="category_name" ng-show="homeworlds.length && checkValue(homeworlds[$index].name)">
                <div class="col-xs-6">
                    Homeworld:
                </div>
                <div class="col-xs-6">
                    <a ng-click="callUrl(homeworlds[$index].name, homeworlds[$index].url)"> {{ homeworlds[$index].name }}</a>
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.language)">
                <div class="col-xs-6">
                    Language
                </div>
                <div class="col-xs-6">
                    {{ r.language }}
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.average_height)">
                <div class="col-xs-6">
                    Avg Height:
                </div>
                <div class="col-xs-6">
                    {{ convertHeight(r.average_height) }}
                </div>
            </div>
            <div class="category_name" ng-show="checkValue(r.average_lifespan)">
                <div class="col-xs-6">
                    Avg Lifespan:
                </div>
                <div class="col-xs-6">
                    {{ r.average_lifespan }} years
                </div>
            </div>
        </div>
        <div class="result_middle">
            <h5>Origins</h5>
            <div class="category_name">
                <div>
                    People:
                </div>
            </div>
            <div class="flex_col_justify_top justify-center med-line-height"  ng-repeat="p in people[$index]">
                <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
            </div>
            <div class="r_row category_name" >
                <div class="flex_col_justify_top">
                    Films:
                </div>
            </div>
            <div class="justify-center med-line-height" ng-repeat="f in films[$index]">
                <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
            </div>
        </div>
        <div class="result_bottom">
            <div class="category_name">
                <div>
                    Created:
                </div>
                <div>
                    {{ convertToLocal(r.created) }}
                </div>
            </div>
            <div class="category_name">
                <div>
                    Edited:
                </div>
                <div>
                    {{ convertToLocal(r.edited) }}
                </div>
            </div>
        </div>
    </div>
