    <div class="results_inner_wrapper">
        <div class="r_row">
            <div>
                Name:
            </div>
            <div>
                {{ r.name }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.eye_colors)">
            <div>
                Eye Colors:
            </div>
            <div>
                {{ r.eye_colors }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.hair_colors)">
            <div>
                Hair Colors:
            </div>
            <div>
                {{ r.hair_colors }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.skin_colors)">
            <div>
                Skin Colors:
            </div>
            <div>
                {{ r.skin_colors }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.classification)">
            <div>
                Classification:
            </div>
            <div>
                {{ r.classification }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Designation:
            </div>
            <div>
                {{ r.designation }}
            </div>
        </div>
        <div class="r_row" ng-show="homeworlds.length && checkValue(homeworlds[$index].name)">
            <div>
                Homeworld:
            </div>
            <div>
                <a ng-click="callUrl(homeworlds[$index].name, homeworlds[$index].url)"> {{ homeworlds[$index].name }}</a>
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.language)">
            <div>
                Language
            </div>
            <div>
                {{ r.language }}
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.average_height)">
            <div>
                Avg Height:
            </div>
            <div>
                {{ r.average_height }} cm
            </div>
        </div>
        <div class="r_row" ng-show="checkValue(r.average_lifespan)">
            <div>
                Avg Lifespan:
            </div>
            <div>
                {{ r.average_lifespan }} years
            </div>
        </div>
        <div class="r_row">
            <div class="flex_col_justify_top">
                People:
            </div>
        </div>
        <div class="flex_col_justify_top left-padding"  ng-repeat="p in people[$index]">
            <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
        </div>
        <div class="r_row" >
            <div class="flex_col_justify_top">
                Films:
            </div>
        </div>
        <div class="left-padding" ng-repeat="f in films[$index]">
            <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
        </div>
        <div class="r_row move_up">
            <div>
                Created:
            </div>
            <div>
                {{ convertToLocal(r.created) }}
            </div>
        </div>
        <div class="r_row">
            <div>
                Edited:
            </div>
            <div>
                {{ convertToLocal(r.edited) }}
            </div>
        </div>
    </div>
