<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<div class="flex_results" ng-repeat="r in results">Result {{ $index + 1 }} of {{ results.length }}
    <div class="r_row">
        <div>
            Name
        </div>
        <div>
            {{ r.name }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Eye Colors:
        </div>
        <div>
            {{ r.eye_colors }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Hair Colors:
        </div>
        <div>
            {{ r.hair_colors }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Skin Colors:
        </div>
        <div>
            {{ r.skin_colors }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Classification:
        </div>
        <div>
            {{ r.classification }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Designation:
        </div>
        <div>
            {{ r.designation }}
        </div>
    </div>

    <div class="r_row">
        <div>
            Homeworld:
        </div>
        <div>
            <a ng-click="callUrl(homeworlds[$index].name, homeworlds[$index].url)"> {{ homeworlds[$index].name }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Language
        </div>
        <div>
            {{ r.language }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Avg Height:
        </div>
        <div>
            {{ r.average_height }} cm
        </div>
    </div>
    <div class="r_row">
        <div>
            Avg Lifespan:
        </div>
        <div>
            {{ r.average_lifespan }} years
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="p in people[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            People:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="f in films[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Films:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
        </div>
    </div>
    <div class="r_row move_up">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(r.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Last Edited:
        </div>
        <div>
            {{ convertToLocal(r.edited) }}
        </div>
    </div>
</div>