<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<spinner name="loadSpinner" class="spinner" show="loading" img-src="img/Loading-GIF-Image-10.gif"></spinner>
<div class="flex_results blue_text ng-cloak" ng-repeat="r in results" ng-class="{ dimmed_results: loading }">Result {{ $index + 1 }} of {{ results.length }}
    <div class="r_row">
        <div>
            Name
        </div>
        <div>
            {{ r.name }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Model
        </div>
        <div>
            {{ r.model }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Class
        </div>
        <div>
            {{ r.starship_class }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Manufacturer
        </div>
        <div>
            {{ r.manufacturer }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Crew
        </div>
        <div>
            {{ r.crew }}
        </div>
    </div>
    <div class="r_row" ng-show="checkValue(r.cargo_capacity)">
        <div>
            Cargo Capacity
        </div>
        <div>
            {{ r.cargo_capacity }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Hyperdrive rating:
        </div>
        <div>
            {{ r.hyperdrive_rating }}
        </div>
    </div>
    <div class="r_row" ng-show="checkValue(r.MGLT)">
        <div>
           Speed
        </div>
        <div>
            {{ r.MGLT }} (in Megalights per hour)
        </div>
    </div>
    <div class="r_row" ng-show="checkValue(r.max_atmosphering_speed)">
        <div>
            Max Speed:
        </div>
        <div>
            {{ r.max_atmosphering_speed }} (atmoshpheric)
        </div>
    </div>
    <div class="r_row">
        <div>
            Length
        </div>
        <div>
            {{ r.length }} meters
        </div>
    </div>
    <div class="r_row" ng-show="checkValue(r.consumables)">
        <div>
            Consumables
        </div>
        <div>
            {{ r.consumables }}
        </div>
    </div>
    <div class="r_row" ng-show="checkValue(r.cost_in_credits)">
        <div>
            Cost:
        </div>
        <div>
            {{ r.cost_in_credits }} credits
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="f in films[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Films:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(f.title, f.url)">{{ f.title }}</a>
        </div>
    </div>

    <div class="r_row" ng-show="checkValue(r.passengers)">
        <div>
            Passenger Capacity (additional):
        </div>
        <div>
            {{ r.passengers }}
        </div>
    </div>
    <div class="r_row film_row_top"  ng-repeat="p in pilots[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Pilots:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(p.name, p.url)">{{ p.name }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(r.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Edited:
        </div>
        <div>
            {{ convertToLocal(r.edited) }}
        </div>
    </div>
</div>