<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<div class="flex_results" ng-repeat="i in vehicle_results">
    <div class="r_row">
        <div>
            Name
        </div>
        <div>
            {{ i.name }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Class
        </div>
        <div>
            {{ i.vehicle_class }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Model
        </div>
        <div>
            {{ i.model }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Cargo Capacity
        </div>
        <div>
            {{ i.cargo_capacity }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Consumables
        </div>
        <div>
            {{ i.consumables }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Cost
        </div>
        <div>
            {{ i.cost_in_credits }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Crew:
        </div>
        <div>
            {{ i.crew }}
        </div>
    </div>
    <div class="r_row film_row_top" ng-repeat="f in films[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Films:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(f.url)">{{ f.title }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Length
        </div>
        <div>
            {{ i.length }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Manufacturer:
        </div>
        <div>
            {{ i.manufacturer }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Max Speed:
        </div>
        <div>
            {{ i.max_atmosphering_speed }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Passengers:
        </div>
        <div>
            {{ i.passengers }}
        </div>
    </div>
    <div class="r_row film_row_top"  ng-repeat="p in pilots[$index]">
        <div class="flex_col_justify_top" ng-class="{ hidden_element: $index > 0 } ">
            Pilots:
        </div>
        <div class="push_column_right">
            <a ng-click="callUrl(p.url)">{{ p.name }}</a>
        </div>
    </div>
    <div class="r_row">
        <div>
            Created:
        </div>
        <div>
            {{ convertToLocal(i.created) }}
        </div>
    </div>
    <div class="r_row">
        <div>
            Last Edited:
        </div>
        <div>
            {{ convertToLocal(i.edited) }}
        </div>
    </div>
</div>



