<div class="col-xs-10">Results for <span class="yellow_text">"{{ search_term }}"</span></div><br>
<table class="t_results" ng-repeat="i in item">
    <tr>
        <td>
            Name
        </td>
        <td>
            {{ i.name }}
        </td>
    </tr>
    <tr>
        <td>
            Class
        </td>
        <td>
            {{ i.vehicle_class }}
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            Model
        </td>
        <td>
            {{ i.model }}
        </td>
    </tr>
    <tr>
        <td>
            Cargo Capacity
        </td>
        <td>
            {{ i.cargo_capacity }}
        </td>
    </tr>
    <tr>
        <td>
            Consumables
        </td>
        <td>
            {{ i.consumables }}
        </td>
    </tr>
    <tr>
        <td>
            Cost
        </td>
        <td>
            {{ i.cost_in_credits }}
        </td>
    </tr>
    <tr>
        <td>
            Crew:
        </td>
        <td>
            {{ i.crew }}
        </td>
    </tr>
    <tr>
        <td>
            Films:
        </td>
        <td>
            <a ng-click="callUrl()">{{ film }}</a>
        </td>
    </tr>
    <tr>
        <td>
            Length
        </td>
        <td>
            {{ i.length }}
        </td>
    </tr>
    <tr>
        <td>
            Manufacturer:
        </td>
        <td>
            {{ i.manufacturer }}
        </td>
    </tr>
    <tr>
        <td>
            Max Speed:
        </td>
        <td>
            {{ i.max_atmosphering_speed }}
        </td>
    </tr>
    <tr>
        <td>
            Passengers:
        </td>
        <td>
            {{ i.passengers }}
        </td>
    </tr>
    <tr>
        <td>
            Pilots:
        </td>
        <td>
            {{ pilots }}
        </td>
    </tr>
    <tr>
        <td>
            Created:
        </td>
        <td>
            {{ convertToLocal(i.created) }}
        </td>
    </tr>
    <tr>
        <td>
            Last Edited:
        </td>
        <td>
            {{ convertToLocal(i.edited) }}
        </td>
    </tr>
</table>



